version: '3.8'

services:
  redis-node-1:
    image: redis:7.2-alpine
    container_name: redis-node-1
    command: 
      - redis-server
      - /etc/redis/redis.conf
    volumes:
      - type: bind
        source: ./redis-config.conf
        target: /etc/redis/redis.conf
      - redis-data-1:/data
    networks:
      redis_net:
        ipv4_address: 172.38.0.11
    ports:
      - "6381:6379"

  redis-node-2:
    image: redis:7.2-alpine
    container_name: redis-node-2
    command: 
      - redis-server
      - /etc/redis/redis.conf
    volumes:
      - type: bind
        source: ./redis-config.conf
        target: /etc/redis/redis.conf
      - redis-data-2:/data
    networks:
      redis_net:
        ipv4_address: 172.38.0.12
    ports:
      - "6382:6379"

  redis-node-3:
    image: redis:7.2-alpine
    container_name: redis-node-3
    command: 
      - redis-server
      - /etc/redis/redis.conf
    volumes:
      - type: bind
        source: ./redis-config.conf
        target: /etc/redis/redis.conf
      - redis-data-3:/data
    networks:
      redis_net:
        ipv4_address: 172.38.0.13
    ports:
      - "6383:6379"

  redis-node-4:
    image: redis:7.2-alpine
    container_name: redis-node-4
    command: 
      - redis-server
      - /etc/redis/redis.conf
    volumes:
      - type: bind
        source: ./redis-config.conf
        target: /etc/redis/redis.conf
      - redis-data-4:/data
    networks:
      redis_net:
        ipv4_address: 172.38.0.14
    ports:
      - "6384:6379"

  redis-node-5:
    image: redis:7.2-alpine
    container_name: redis-node-5
    command: 
      - redis-server
      - /etc/redis/redis.conf
    volumes:
      - type: bind
        source: ./redis-config.conf
        target: /etc/redis/redis.conf
      - redis-data-5:/data
    networks:
      redis_net:
        ipv4_address: 172.38.0.15
    ports:
      - "6385:6379"

  redis-node-6:
    image: redis:7.2-alpine
    container_name: redis-node-6
    command: 
      - redis-server
      - /etc/redis/redis.conf
    volumes:
      - type: bind
        source: ./redis-config.conf
        target: /etc/redis/redis.conf
      - redis-data-6:/data
    networks:
      redis_net:
        ipv4_address: 172.38.0.16
    ports:
      - "6386:6379"

volumes:
  redis-data-1:
  redis-data-2:
  redis-data-3:
  redis-data-4:
  redis-data-5:
  redis-data-6:

networks:
  redis_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.38.0.0/16
